<template>
    <NavBar class="navegacao" />
        <div id="produtos-card">
          <div id="produtos-card-background">
            <div class="card" v-for="(produto, indice) in state.produtos" :key="indice">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{produto.nome}}</p>
                    <p class="subtitle is-6">${{produto.preco}}</p>
                  </div>
                </div>
                <div class="content">
                  <p>{{produto.descricao}}</p>
                  <br>
                </div>
                <div class="buttons">
                  <button class="button is-danger is-outlined" @click.prevent="adicionarItemsCarrinho(produto)">Add to Card</button>
                </div>
              </div>
            </div>
          </div>
        </div>
</template>

<script>

import NavBar from '../navbar/Index.vue'
import { reactive } from '@vue/reactivity'
import { getState, adicionarItemsCarrinho } from '../../Store.js'
import { watch } from '@vue/runtime-core'

export default {
    name: "Produtos",
    components: {
      NavBar
    },
    setup () {
        const state = reactive({
            produtos: getState.produtos
        })

        //produtos
        watch(
            () => getState.resultadoPesquisa,
            (resultadoPesquisa) => {
                state.produtos = getState.produtos.filter(produto => {
                    return produto.nome.toLowerCase().indexOf(resultadoPesquisa.toLowerCase()) >= 0
                })
            }
        )

        return {
            state,
            getState,
            adicionarItemsCarrinho
        }
    }
}
</script>

<style scoped>

#produtos-card
{
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    display: flex;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    padding: 4vh;
    background: #f0efeb;
}

#produtos-card-background
{
    min-width: 100%;
    width: auto;
    margin-top: 13vh;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card
{
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  border-right: black 1px solid;
  border-left: black 1px solid;
  width: 38vh;
  border-radius: 1vh;
  transition: transform 0.5s;
  margin: 2vh;
}

.card:hover
{
  transform: scale(1.08);
  border-top: black 2px solid;
  border-bottom: black 2px solid;
  border-right: black 2px solid;
  border-left: black 2px solid;
}

.content
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons
{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

</style>
