<template>
    <NavBar />
    <div id="cadastro-background">
        <div id="cadastro-form">
            <form class="box mt-6">
                <div id="cadastro-form-titulo" class="is-flex is-flex-direction-row is-flex-wrap-wrap is-align-items-center center is-justify-content-center mr-3">
                    <svg-icon type="mdi" :path=mdiAccountPlus class="mr-2 has-text-black"></svg-icon>
                    <h1 class="has-text-black is-size-4">Cadastrar</h1>
                </div>
                <div class="field mt-3">
                  <label class="label">Nome</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="alex" v-model="state.form.name">
                  </div>
                </div>
                <div class="field mt-3">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" type="email" placeholder="alex@example.com" v-model="state.form.email">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Senha</label>
                  <div class="control">
                    <input class="input" type="password" placeholder="********" v-model="state.form.password">
                  </div>
                </div>
                <div class="buttons is-flex is-justify-content-center mt-4 p-3">
                    <button class="button is-danger is-outlined" @click="efetuarCadastro()">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

import SvgIcon from '@jamescoyle/vue-icon'
import NavBar from '../../navbar/Index.vue'
import { mdiAccountPlus } from '@mdi/js'
import { requisicaoPOST } from '../../../services/httpAxios/Index.js'
import { setNotificacao } from '../../../Store'
import { reactive } from '@vue/reactivity'

export default {
    name: "Cadastrar",
    components: { NavBar, SvgIcon },
    setup () {
        const state = reactive ({
            form: {
                name: null,
                email: null,
                password: null
            }
        })

        const efetuarCadastro = () => {
            requisicaoPOST(`http://127.0.0.1:8000/api/cadastro`, state.form)
            .then(response => {
                setNotificacao({    
                    show: true,
                    mensagem: `Cadastro realizado! ID: ${response.data.id}`
                })
            }).catch(e => {
                setNotificacao({
                    show: true,
                    mensagem: e.response.data.message
                })
            })
        }

        return {
            state,
            efetuarCadastro
        }
    },

    data () {
        return {
            mdiAccountPlus
        }
    }
}
</script>

<style scoped>

#cadastro-background
{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background: #f0efeb;
    display: flex;
    /* padding-right: 15vh; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#cadastro-form
{
    width: auto;
    height: auto;
    padding: 2vh;
}

#cadastro-form form
{
    border: black 1px solid;
    padding: 4vh;
    transition: transform 0.5s;
      
}

#cadastro-form form:hover
{
  transform: scale(1.08);
  border-top: black 3px solid;
  border-bottom: black 3px solid;
  border-right: black 3px solid;
  border-left: black 3px solid;
}

#cadastro-form input 
{
    width: 34vh;
    border: 1px black solid;
    border-radius: 1vh;
}

#cadastro-form-titulo
{
    height: 14vh;
}

</style>
