<template>
  <div id="modal-carrinho">
    <div
      id="CardBackground"
      class="card p-1"
      v-if="getState.itemsCarrinho.length > 0"
    >
      <div
        id="CardConteudo"
        class="card-content"
        v-for="(produto, indice) in getState.itemsCarrinho"
        :key="indice"
      >
        <div class="media">
          <div class="media-content">
            <p class="">{{ produto.nome }}</p>
            <p class="has-text-black">{{ produto.descricao }}</p>
            <p class="has-text-black">{{ produto.preco }}</p>
          </div>
        </div>
        <div class="content">
          <a
            href=""
            class="button is-danger is-small mt-3"
            @click.prevent="removeItensCarrinho(indice)"
            >Remover</a
          >
        </div>
      </div>
      <button id="botao-finalizar" class="button is-danger is-outlined mt-3">
        Finalizar
      </button>
    </div>
    <div v-else>
      <h1 class="title is-6 p-4 m-4 has-text-white">
        Não há items no carrinho
      </h1>
    </div>
  </div>
</template>

<script>
import { reactive } from "@vue/reactivity";
import { getState, setState, removeItensCarrinho } from "../../../Store";

export default {
  name: "ModalProdutos",
  setup() {
    const state = reactive({
      produtos: getState.produtos,
    });

    return {
      state,
      getState,
      removeItensCarrinho,
      setState,
    };
  },
};
</script>

<style scoped>
#modal-carrinho {
  position: absolute;
  background: brown;
  overflow: auto;
  margin-left: 25vh;
  display: flex;
  padding: 1vh;
  border-radius: 1vh;
  min-height: 15vh;
  max-height: 60vh;
  height: auto;
  width: 42vh;
  top: 10vh;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#CardBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#CardConteudo {
  display: flex;
  width: auto;
  border: black 1px solid;
  margin: 1vh;
  padding: 2vh;
  height: 15vh;
  min-height: 18vh;
  min-width: 34vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

#botao-finalizar {
  left: 1vh;
  bottom: 0vh;
}
</style>