<template>
    <NavBar />
</template>

<script>

import NavBar from '../navbar/Index.vue'

export default {
    name: "Home",
    components:{
        NavBar
    }
}
</script>

<style scoped>

</style>