<template>
  <nav class="navbar p-3" role="navigation" aria-label="main navigation">
    <div class="navbar-start is-flex">
      <a
        id="Logo"
        class="navbar-item has-text-white subtitle is-6 ml-1"
        href="/"
        >Projeto Loja</a
      >
    </div>
    <div class="navbar-brand">
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu mr-5">
      <BotoesNav />
    </div>
  </nav>
</template>

<script>
import BotoesNav from "./botoes/Index.vue";

export default {
  name: "NavBar",
  components: {
    BotoesNav,
  },
};
</script>

<style scoped>
nav {
  position: fixed;
  width: 100%;
  min-height: 10vh;
  height: auto;
}

.navbar {
  background: black;
}

#Logo:hover {
  transform: scale(1.02);
  background: none;
}
</style>
