<template>
    <NavBar />
    <div id="login-background" class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center">
        <div id="login-form">
            <form class="box mt-5">
                <div id="login-form-titulo" class="is-flex is-flex-direction-row is-flex-wrap-wrap is-align-items-center center is-justify-content-center mr-3">
                    <svg-icon type="mdi" :path=mdiLoginVariant class="mr-2 has-text-black"></svg-icon>
                    <h1 class="has-text-black is-size-4">Logar</h1>
                </div>
                <div class="field mt-4">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" type="email" placeholder="alex@example.com">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Senha</label>
                  <div class="control">
                    <input class="input" type="password" placeholder="********">
                  </div>
                </div>
                <div class="buttons is-flex is-justify-content-center mt-5 p-3">
                    <button class="button is-danger is-outlined ">Cadastrar</button>
                    <button class="button is-black is-outlined">Logar</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

import NavBar from '../../navbar/Index.vue'
import SvgIcon from '@jamescoyle/vue-icon'
import { mdiLoginVariant } from '@mdi/js'

export default {
    name: "Login",
    components: { NavBar, SvgIcon },
    data () {
        return {
            mdiLoginVariant
        }
    }

}
</script>

<style scoped>

#login-background
{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background: #f0efeb;
    display: flex;
    /* padding-right: 15vh; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#login-form
{
    width: auto;
    height: auto;
    padding: 2vh;
}

#login-form form
{
    border: black 1px solid;
    padding: 5vh;
    transition: transform 0.5s;
      
}

#login-form form:hover
{
  transform: scale(1.08);
  border-top: black 3px solid;
  border-bottom: black 3px solid;
  border-right: black 3px solid;
  border-left: black 3px solid;
}

#login-form input 
{
    width: 34vh;
    border: 1px black solid;
    border-radius: 1vh;
}

#login-form-titulo
{
    height: 14vh;
}


</style>
