<template>
  <div class="navbar-end">
    <div class="buttons is-flex is-align-items-center">
      <div id="barra-pesquisa-box">
        <span>
          <input
            id="barra-pesquisa"
            class="input is-black is-small mr-4"
            type="text"
            placeholder="Barra de Pesquisa"
            v-model="state.nomeProduto"
          />
        </span>
      </div>
      <button
        id="carrinho-botao"
        @click="state.exibirModalProdutos = !state.exibirModalProdutos"
      >
        <svg-icon type="mdi" :path="mdiCart"></svg-icon>
      </button>
      <ModalCarrinho v-if="state.exibirModalProdutos" />
      <a class="navbar-item mr-2" href="/produtos">Produtos</a>
      <a class="navbar-item mr-2" href="/usuario/compras">Compras</a>
      <div id="usuario-drop" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link has-text-white">Usuario</a>
        <div class="navbar-dropdown">
          <a class="navbar-item mr-1 my-1" href="/usuario/login"
            ><svg-icon
              type="mdi"
              :path="mdiLoginVariant"
              class="mr-1"
            ></svg-icon>
            Login
          </a>
          <a class="navbar-item mr-1 my-1" href="/usuario/cadastrar"
            ><svg-icon
              type="mdi"
              :path="mdiAccountPlus"
              class="mr-1"
            ></svg-icon>
            Cadastrar
          </a>
          <a class="navbar-item mr-1 my-1" href="/contato"
            ><svg-icon type="mdi" :path="mdiContacts" class="mr-2"></svg-icon>
            Contato
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SvgIcon from "@jamescoyle/vue-icon";
import ModalCarrinho from "../carrinho/modal-carrinho.vue";
import { reactive } from "@vue/reactivity";
import { watch } from "@vue/runtime-core";
import { setState } from "../../../Store";

import {
  mdiLoginVariant,
  mdiTextSearch,
  mdiCart,
  mdiAccountPlus,
  mdiContacts,
} from "@mdi/js";

export default {
  name: "BotoesNav",
  components: { SvgIcon, ModalCarrinho },
  setup() {
    const state = reactive({
      nomeProduto: null,
      exibirModalProdutos: false,
    });
    //Barra de Pesquisa
    watch(
      () => state.nomeProduto,
      (pesquisa) => {
        setState("resultadoPesquisa", pesquisa);
      }
    );

    return {
      state,
    };
  },

  data() {
    return {
      mdiLoginVariant,
      mdiAccountPlus,
      mdiContacts,
      mdiTextSearch,
      mdiCart,
    };
  },
};
</script>

<style scoped>
.navbar-end {
  transition: transform 0.2s;
}

.navbar-end a {
  color: white;
  border-radius: 2vh;
}

.navbar-end a:hover {
  transform: scale(1.02);
  background: #c6edf5;
  transition: 0.5s;
  color: rgb(34, 57, 228);
  border-radius: 1vh;
}

.navbar-dropdown {
  padding: 2vh;
  width: 28vh;
  left: -11vh;
  border-radius: 2vh;
}

.navbar-dropdown a {
  color: black;
}

#carrinho-botao {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

#barra-pesquisa {
  width: 30vh;
  border-radius: 1vh;
  top: 0vh;
  left: 2vh;
}

#cart-icon {
  width: 3vh;
}

#carrinho {
  margin-top: 1vh;
  display: flex;
  margin-left: 8vh;
  height: auto;
  min-width: 46vh;
  width: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
</style>
